{%extends 'base.html'%}
{%load i18n%}
{%block content%}
    <p class="big center">
        {%trans 'Ingresa el password'%}
    </p>
    {%if message%}
    <p class="big center">
        <strong>
            {{message}}
        </strong>
    </p>
    {%endif%}
    <form action="." method="post">
        {%csrf_token%}
        <p class="center">
            <input name="password" id="id_password" type="password" class="big padding" value="" />
            <input class="big padding button purple_button" type="submit" value="{%trans 'Acceder'%}" />
        </p>
    </form>
{%endblock%}
