{%extends 'base.html'%}
{%load i18n%}
{%block header%}
    <h1>
        {%trans 'Configuración'%} - {{wedding.id}}
    </h1>
{%endblock%}
{%block content%}
    <div class="options">
        <p>
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                <a class="addthis_button_facebook"></a>
                <a class="addthis_button_twitter"></a>
                <a class="addthis_button_email"></a>
            </div>
            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e25cdae5f7450b4"></script>
        </p>
        <p>
            <a class="button purple_button padding_tiny"  href="/{{wedding.id}}/" target="_blank">{%trans 'Ver sitio'%}</a>
        </p>
    </div>
    <div class="section padding" id="welcome">
        <h2>
            {%trans 'Bienvenida'%}
        </h2>
        <p>
            {%blocktrans%}
                Escribe el mensaje que quieres que aparezca en la pantalla inicial de tu sitio.
            {%endblocktrans%}
        </p>
        <form action="/{{wedding.id}}/panel/welcome/" method="post">
            {%csrf_token%}
            <p>
                <textarea name="welcome" id="" cols="30" rows="10">{{wedding.welcome}}</textarea>
            </p>
            <p class="right">
                <input class="button big padding_tiny purple_button" type="submit" value="{%trans 'Guardar'%}" />
            </p>
        </form>
    </div>
    <div class="section padding" id="info">
        <h2>
            {%trans 'Información'%}
        </h2>
        <p>
            {%blocktrans%}
                Esta información servirá para mostrar a los visitantes cuándo y dónde será tu boda.
            {%endblocktrans%}
        </p>
        <form action="." method="post">
            {%csrf_token%}
            <table>
                {{info_form.as_table}}
            </table>
            <p class="center">
                <input class="button big padding_tiny purple_button" type="submit" value="{%trans 'Guardar'%}" />
            </p>
        </form>
    </div>
    <div class="section padding" id="gifts">
        <h2>
            {%trans 'Lista de regalos'%}
        </h2>
        <ul>
            {%for gift in gifts%}
                <li>
                    {{gift.name}}
                    <a href="/{{wedding.id}}/panel/gift/delete/{{gift.id}}/">
                        {%trans 'Borrar'%}
                    </a>
                </li>
            {%endfor%}
        </ul>
        <form action="/{{wedding.id}}/panel/gift/" method="post">
            {%csrf_token%}
            <table>
                <th>
                    <label for="gift_name">{%trans 'Regalo'%}</label>
                </th>
                <td>
                    <input type="text" name="name" id="id_gift_name" value="" />
                    <input class="button padding_tiny purple_button" type="submit" value="{%trans 'Agregar'%}" />
                </td>
            </table>
        </form>
    </div>
{%endblock%}
